<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
         {{>header}} {{!-- header.hbs yerine yaz覺l覺r --}}

        <h1> {{ title }} </h1>
        <p> Yard覺m Mesaj覺 {{message}} </p>
        {{>footer}}
    </body>
 
</html>